 /* #user-login{
    color: blue;
    text-align: center;
}
#user-create{
    text-align: center;

} */
.card{ 
    box-align: center;
    width: 18rem;
    text-align: center;
    background-color: beige;
    position: center;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 150px;
        margin-bottom: 10px
}

.card_1{ 
    box-align: center;
    width: 80%;
    text-align: center;
    background-color: beige;
    position: center;
    margin: 0 auto; /* Added */
        float: none;
        margin-top: 50px;
        margin-bottom: 50px; /* Added */

}


#fridge-show{ 
    object-fit: cover;
    object-position: 50% 0;
    height: 1200px;
    width: 700px;
}


.body{
    /* background image centered and non repeating */
    background-repeat: no-repeat;
    background-position: 50% -10%; 
    background-image: url(https://images.homedepot-static.com/productImages/5abd73e7-0790-4ab4-aa99-acd64ed909cc/svn/red-magic-chef-mini-fridges-hmcr320re-64_1000.jpg); 
}

.body_1{
    /* background image centered and non repeating */
    background-repeat: repeat;
    background-position: 50% -10%; 
    background-image: url(https://www.thegascompany.ie/24files/images/content_images/smegretro/Smeg_Colour_Options_FAB28.JPG); 
}

.button {
    display: inline-block;
    border: none;
    padding: none;
    margin: 0;
    text-decoration: none;
    background:inherit;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin: 0px 0;
    grid-auto-rows: 150px;
}
  
.album .album-card {
    position: relative;
    width: 170px;
}
  
.album .album-card .image {
    width: 200px;
    height: 350px;
}

.album .album-card .image .pic {
      height: 150px;
      width: 150px;
     
        position: relative;
        /* for Description */
        /* content: attr(title); */
 
      object-fit: cover;
}

.album .album-card .image .fridge {
    object-fit: cover;
    object-position: 50% 0;
    height: 150px;
    width: 70px;
}

/* .polaroid{
    height: 150px;
      width: 150px;
    background: #ffffff;
    display: inline;
   
    margin: 55px 75px 30px;
      padding: 10px 10px 30px;

      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
 
      z-index: 0;
} */

.polaroid-card{ 
    position: absolute;
    box-align: center;
    height: 155px;
    width: 150px;
    text-align: center;
    background-color: white;
    position: center;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

    /* margin: 0 auto;
        float: none;
        margin-top: 150px;
        margin-bottom: 10px */
}

.polaroid-1{
    top: 340px;
    left: 460px;
}
.polaroid-2{
    top: 340px;
    left: 630px;
}
.polaroid-3{
    top: 630px;
    left: 460px;
}
.polaroid-4{
    top: 630px;
    left: 630px;
}
.polaroid-5{
    top: 815px;
    left: 250px;
}
.polaroid-6{
    top: 815px;
    left: 460px;
}
.polaroid-7{
    top: 815px;
    left: 630px;
}
.polaroid-8{
    top: 1000px;
    left: 250px;
}
.polaroid-9{
    top: 1000px;
    left: 460px;
}
.polaroid-10{
    top: 1000px;
    left: 630px;
}




.pointer{
    cursor: pointer
}

.fridge-img{
    object-fit: cover;
    width: 125px;
    height: 125px;
/*     margin: px 75px 30px; */
    padding: 10px 1px 2px;
}

.img-text-div{
    padding: 3px 3px;
}

.fridge-display{
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    width: 700px;
}
