 /* #user-login{
    color: blue;
    text-align: center;
}
#user-create{
    text-align: center;

} */
.card{ 
    box-align: center;
    width: 18rem;
    text-align: center;
    background-color: beige;
    position: center;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-top: 150px;
        margin-bottom: 10px
}

.card_1{ 
    box-align: center;
    width: 80%;
    text-align: center;
    background-color: #f1f0f0;
    position: center;
    margin: 0 auto; /* Added */
        float: none;
        margin-top: 50px;
        margin-bottom: 50px; /* Added */
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 7);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, );
    border-radius: 25px;
}


#fridge-show{ 
    object-fit: cover;
    object-position: 50% 0;
    height: 1200px;
    width: 700px;
}

body{
    font-family: "Times New Roman", Times, serif;
}

.body{
    /* background image centered and non repeating */
    background-repeat: no-repeat;
    background-position: 50% -10%; 
    background-image: url(https://images.homedepot-static.com/productImages/5abd73e7-0790-4ab4-aa99-acd64ed909cc/svn/red-magic-chef-mini-fridges-hmcr320re-64_1000.jpg); 
}

.body_1{
    /* background image centered and non repeating */
    background-repeat: repeat;
    background-position: 50% -10%; 
    background-image: url(https://www.thegascompany.ie/24files/images/content_images/smegretro/Smeg_Colour_Options_FAB28.JPG); 
}

.button {
    display: inline-block;
    border: none;
    padding: none;
    margin: 0;
    text-decoration: none;
    background:inherit;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin: 0px 0;
    grid-auto-rows: 150px;
}
  
.album .album-card {
    position: relative;
    width: 170px;
}
  
.album .album-card .image {
    width: 200px;
    height: 350px;
}

.album .album-card .image .pic {
      height: 150px;
      width: 150px;
     
        position: relative;
        /* for Description */
        /* content: attr(title); */
 
      object-fit: cover;
}

.album .album-card .image .fridge {
    object-fit: cover;
    object-position: 50% 0;
    height: 160px;
    width: 95px;
}

.polaroid-card{ 
    position: absolute;
    box-align: center;
    height: 155px;
    width: 150px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    position: center;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.polaroid-1{
    top: 190px;
    left: 290px;
}
.polaroid-2{
    top: 190px;
    left: 470px;
}
.polaroid-3{
    top: 450px;
    left: 290px;
}
.polaroid-4{
    top: 450px;
    left: 470px;
}
.polaroid-5{
    top: 645px;
    left: 110px;
}
.polaroid-6{
    top: 645px;
    left: 290px;
}
.polaroid-7{
    top: 645px;
    left: 470px;
}
.polaroid-8{
    top: 840px;
    left: 110px;
}
.polaroid-9{
    top: 840px;
    left: 290px;
}
.polaroid-10{
    top: 840px;
    left: 470px;
}

.pointer{
    cursor: pointer
}

.fridge-img{
    object-fit: cover;
    width: 125px;
    height: 125px;
/*     margin: px 75px 30px; */
    padding: 10px 1px 2px;
}

.img-text-div{
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 3px 3px;
}

.fridge-display{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    width: 700px;
}

.r-1{
    transform: rotate(-1deg);
}

.r-2{
    transform: rotate(-2deg);
}

.r-3{
    transform: rotate(-3deg);
}

.r-4{
    transform: rotate(-4deg);
}

.r-5{
    transform: rotate(-5deg);
}

.r-6{
    transform: rotate(1deg);
}

.r-7{
    transform: rotate(2deg);
}

.r-8{
    transform: rotate(3deg);
}

.r-9{
    transform: rotate(4deg);
}

.r-10{
    transform: rotate(0deg);
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
  .image-card {
    width: 300px;
    border: 1px solid #00000020;
    border-radius: 2px;
    text-align: left;
    background-color: white;
  }
  
  .image2 {
    width: 300px;
    /* border: 1px solid black; */
  }
  
  .title {
    text-align: left;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000dd;
  }
  
  .likes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .li-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  
  .delete-button {
    justify-content: space-between;
    align-items: left;
    transition: color 300ms;
    cursor: pointer;
  }
  
  .comments {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 0.85rem;
  }
  
  .comments li {
    margin: 2px 0;
    letter-spacing: 0.2px;
  }
  
  .comment-form {
    width: 100%;
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
  }
  
  .comment-input {
    width: 83%;
    border: none;
    font-size: 0.8rem;
  }
  
  .comment-input:focus {
    outline: none;
  }
  
  .comment-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
  }
  
  .comment-button:hover {
    color: rgb(37, 68, 245);
  }
  
  .comment-button:active {
    color: rgb(127, 146, 250);
  }
  
  .comment-button:focus {
    outline: none;
  }
  